@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Serif', 'Noto Serif JP', 'Times New Roman';
  line-height: 1.7;
  color: #282F35;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.common-inner {
  max-width: 1200px;
}

.section-wrapper {
  padding: 100px 0;
}

.section-title {
  font-size: 6.0rem;
  font-weight: bold;
  font-style: italic;
  margin: 0 auto 80px;
  padding: 0 20px;
}

.section-title::after {
  content: "";
  display: inline-block;
  background-color: #282F35;
  height: 5px;
  width: 200px;
  margin-left: 30px;
  vertical-align: middle;
}

.section-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.bg-gray {
  background-color: #f2f2f2;
}

.header {
  padding: 19px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #141414;
  opacity: .9;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header a {
  font-style: italic;
  font-weight: bold;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.header a:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: underline;
}

.site-title {
  font-size: 2.6rem;
  font-style: italic;
  color: #fff;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  margin-right: 30px;
}

.nav-item:last-of-type {
  margin-right: 0;
}

.burger-btn {
  display: none;
}

.slider {
  position: relative;
  z-index: 1;
  height: 100vh;
}

/*背景画像設定*/
.slider-item01 {
  background: url(./img/fv-bg01.jpg);
}

.slider-item02 {
  background: url(./img/fv-bg02.jpg);
}

.slider-item03 {
  background: url(./img/fv-bg03.jpg);
}

.slider-item {
  width: 100%;
  /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: 100vh;
  /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;
  /*背景画像をリピートしない*/
  background-position: center;
  /*背景画像の位置を中央に*/
  background-size: cover;
  /*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute;
  /*絶対配置にする*/
  z-index: 3;
  top: 42%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #ccc;
  /*矢印の色*/
  border-right: 2px solid #ccc;
  /*矢印の色*/
  height: 25px;
  width: 25px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: 2.5%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: 2.5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: -50px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #ccc;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

/*fvレイアウト*/
.fv {
  position: relative;
}

.catch-copy {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  padding: 60px;
  background-color: rgba(27, 19, 16, 0.75);
}

.copy-title {
  font-size: 4.5vw;
  margin-bottom: 20px;
}

.copy-subtitle {
  font-size: 2.4vw;
}

.section-subtitle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 60px;
  font-weight: bold;
  text-decoration: underline;
}

.profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-text {
  line-height: 1.9;
  width: 45%;
}

.profile-image {
  width: 45%;
}

.skill-text {
  text-align: center;
}

.skill-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skill-item {
  width: 30%;
  border: 1px solid #141414;
  border-radius: 10px;
  padding: 20px 10px;
}

.skill-title {
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
}

.skill-list-img {
  width: 100%;
  margin: auto;
}

.skill-list-text {
  padding: 0 20px;
}

.service-item {
  width: 60%;
  background-color: #fff;
  display: block;
  border: 1px solid #141414;
  border-radius: 5px;
  margin: 30px auto;
  padding: 10px 20px;
  font-size: 2.0rem;
}

.attention {
  text-align: center;
}

.works-wrapper {
  margin: 0 auto;
  padding: 0 50px;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 26px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.works-item {
  border: 1px solid #141414;
  border-radius: 10px;
  padding: 26px;
}

.works-item a {
  color: #141414;
}

.works-item a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .5;
}

.comp-site img {
  max-width: 250px;
  max-height: 250px;
}

.comp-site p {
  text-align: center;
  padding-top: 20px;
}

.contact-text {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.form-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.form {
  background-color: #ffffff;
  padding: 80px 0;
  border-radius: 3rem;
  margin: 0 20px;
}

.form-list {
  max-width: 700px;
  margin: 0 auto 80px;
  padding: 0 50px;
}

.form-item {
  margin-bottom: 25px;
}

.form-item:last-of-type {
  margin-bottom: 0px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.required {
  display: inline-block;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 1.2rem;
  padding: 4px 8px;
  margin-left: 10px;
  border-radius: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input, textarea {
  width: 100%;
  border: solid 1px #141414;
  border-radius: 0.3rem;
}

.input-text {
  padding: 0px 8px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.textarea {
  height: 171px;
  padding: 0px 8px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox-item {
  text-align: center;
}

.checkbox-item input[type="checkbox"] {
  display: none;
}

.checkbox-item input[type="checkbox"] + label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}

.checkbox-item input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-color: #333333;
  /* 枠の色変更 お好きな色を */
  background-color: #fff;
  /* 背景の色変更 お好きな色を */
}

.checkbox-item input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 18px;
  height: 9px;
  margin-top: -9px;
  top: 50%;
  left: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #333333;
  /* チェックの色変更 お好きな色を */
}

.submit-btn {
  display: block;
  width: 235px;
  line-height: 60px;
  margin: 0 auto 30px;
  background-color: #f7d43f;
  -webkit-box-shadow: 0 0 6px #1b1310;
          box-shadow: 0 0 6px #1b1310;
  border-radius: 30px;
  text-align: center;
  color: #171717;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

.submit-btn:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.submit-text {
  text-align: center;
}

.end-message {
  display: none;
  text-align: center;
}

.false-message {
  display: none;
  text-align: center;
}

.last-text {
  max-width: 890px;
  margin: 100px auto;
  font-size: 3.0rem;
  text-align: center;
}

.footer {
  font-size: 1.4rem;
  text-align: center;
  padding: 30px;
  border-top: #141414 solid 1px;
}

@media screen and (min-width: 1024px) {
  .br-sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 3.0rem;
    margin-bottom: 50px;
    padding-left: 0px;
  }
  .section-title:after {
    width: 90px;
  }
  .section-inner {
    padding: 0 15px;
  }
  .section-subtitle {
    font-size: 2.0rem;
  }
  .site-title {
    font-size: 2rem;
  }
  .burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
    background-color: transparent;
    border: none;
  }
  .bar {
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fff;
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
  .burger-btn.close .bar_top {
    -webkit-transform: translate(-50%, 10px) rotate(45deg);
            transform: translate(-50%, 10px) rotate(45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .burger-btn.close .bar_bottom {
    -webkit-transform: translate(-50%, -8px) rotate(-45deg);
            transform: translate(-50%, -8px) rotate(-45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .nav-wrapper {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .3s;
    transition: .3s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #141414;
  }
  .nav-wrapper.slide-in {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header-nav {
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .nav-list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  .nav-item {
    margin-right: 0;
    margin-bottom: 40px;
  }
  body.noscroll {
    overflow: hidden;
  }
  .copy-title {
    font-size: 3.0rem;
  }
  .copy-subtitle {
    font-size: 1.0rem;
  }
  .profile {
    margin: 0 auto 50px;
  }
  .profile-wrapper {
    display: block;
  }
  .profile-text {
    width: 100%;
    margin: 0 auto 30px;
  }
  .profile-image {
    width: 100%;
    margin: auto;
  }
  .skill-list {
    display: block;
    padding: 20px;
  }
  .skill-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .service-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service-item {
    width: 100%;
    margin-bottom: 30px;
    font-size: 1.0rem;
  }
  .service-list-img {
    max-width: 320px;
    max-height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
  .service-list-img img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .service-list-text {
    max-width: 320px;
    margin: 0 auto;
  }
  .works-wrapper {
    padding: 0 20px;
  }
  .comp-site p {
    font-size: 1.2rem;
  }
  .contact-text {
    font-size: 2rem;
    text-align: center;
  }
  .form-list {
    padding: 0 15px;
  }
  .checkbox-parts {
    font-size: 1.0rem;
  }
  .submit-btn {
    font-size: 1.2rem;
    width: 150px;
  }
  .last-text {
    font-size: 2.0rem;
    text-align: left;
  }
}

.slide-bottom {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 2.0s 0s ease-out;
  transition: all 2.0s 0s ease-out;
}
/*# sourceMappingURL=style.css.map */
